/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
  3. Allow percentage-based heights in the application
*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  scrollbar-width: thin;
}

html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

header {
  width: 100%;
  height: 9rem;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

nav {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  background-color: transparent;
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
nav ul {
  margin-bottom: 25rem;
}
nav a {
  text-decoration: none;
  padding: 1.2rem 3rem;
  display: block;
  font-size: 1.6rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  color: rgba(255, 255, 255, 0.5);
}
nav a span {
  font-weight: bold;
  color: #ffffff;
}

.hamburger {
  z-index: 1000;
}

.show-nav {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

@media (max-width: 360px) {
  nav ul {
    margin-bottom: 10rem;
  }
}
body {
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 100%;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.hero__text {
  text-align: center;
}

.title {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.27rem;
  display: block;
  padding: 1rem 0;
  text-transform: uppercase;
}

.main__container h1 {
  font-size: 8rem;
  color: #ffffff;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

.main__container p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
}

.circle {
  width: 150px;
  height: 150px;
  margin-top: 7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #ffffff;
}
.circle span {
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
}

@media (max-width: 360px) {
  .title {
    padding: 0.2rem;
    font-size: 1.5rem;
  }

  .main__container h1 {
    font-size: 6.2rem;
  }

  .main__container p {
    font-size: 1.8rem;
  }
}
.destination-body {
  background-image: url("../assets/destination/background-destination-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.head-title {
  padding: 0;
  color: #ffffff;
}

.sub-span {
  color: rgba(255, 255, 255, 0.5);
}

.page-image {
  width: 17rem;
  height: 17rem;
  margin: 1.5rem auto;
  display: none;
}

.btn {
  font-size: 2rem;
  outline: none;
  border: none;
  background-color: transparent;
  margin: 0 1rem;
  font-family: "Barlow Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.tab-content {
  display: none;
}

.tab-title {
  font-size: 7.7rem;
  font-family: "Bellefair", serif;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
}

.tab-text {
  padding-bottom: 4rem;
  margin-top: -2rem;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
}

.score {
  text-align: center;
}

.scored {
  margin: 2rem 0;
}

.tab-data-1 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.tab-data-2 {
  font-size: 3rem;
  font-family: "Bellefair", serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 200;
}

.tab-active {
  display: initial;
}

.crew-body {
  background-image: url("../assets/crew/background-crew-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.section-image-container {
  width: 100%;
  height: 223px;
}

.image__container {
  width: inherit;
  height: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.slide-container {
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

.image__container,
.section__text {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__text {
  top: 32%;
}

.dots {
  position: absolute;
  top: 29%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #ffffff;
  opacity: 1;
}

.container-1 {
  background-image: url("../assets/crew/image-douglas-hurley.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-2 {
  background-image: url("../assets/crew/image-mark-shuttleworth.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-3 {
  background-image: url("../assets/crew/image-victor-glover.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-4 {
  background-image: url("../assets/crew/image-anousheh-ansari.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section__text {
  text-align: center;
  font-family: "Bellefair", serif;
  color: #ffffff;
}

.section__text h4 {
  font-size: 1.5rem;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 1rem;
}

.section__text h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 200;
  opacity: 0.8;
  margin-top: 1rem;
}

.tech-body {
  background-image: url("../assets/technology/background-technology-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.tech-container {
  margin-top: 2rem;
  width: 100%;
}

.tech__images-container {
  left: 0;
  width: 100%;
  margin-bottom: 17rem;
}

.tech-image-container {
  width: 100%;
}

.tech-image {
  display: block;
  width: inherit;
  height: 170px;
  position: absolute;
  left: 0;
}

.tech-nums {
  margin-top: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech-nums button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: white;
  border: 0px;
  margin: 0 1rem;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tech-active {
  background-color: white;
  color: black;
  outline: 1px solid white;
}

.text-container {
  margin-top: 2rem;
}

.text-container h3 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: center;
}

.content-container {
  margin-top: 0.5rem;
  position: relative;
}

.content-container h2 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Bellefair", serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}

.tech-text-slide {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.img1 {
  background-image: url("../assets/technology/image-launch-vehicle-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img2 {
  background-image: url("../assets/technology/image-spaceport-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img3 {
  background-image: url("../assets/technology/image-space-capsule-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}