@use "generalStyles" as *;
@use "variables" as *;

.slide-container {
  // outline: 1px solid white;
  width: 100%;
  height: 100%;
  position: relative;
}

.section__image {
  margin-top: 2rem;
  //   width: 100%;
  //   height: 100%;
}

.section-image-container {
  width: 100%;
  height: 223px;
}

.image__container {
  width: inherit;
  height: inherit;
  // display: block;
}

.slide-container {
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

.image__container,
.section__text {
  transition: all .3s ease;
  position: absolute;
  top: 0;
  //   width: 100%;
  //   height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section__text {
  top: 32%;
}

.dots {
  position: absolute;
  // bottom: 5%;
  top: 29%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: $White;
  opacity: 1;
}

.container-1 {
  background-image: url("../assets/crew/image-douglas-hurley.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-2 {
  background-image: url("../assets/crew/image-mark-shuttleworth.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-3 {
  background-image: url("../assets/crew/image-victor-glover.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-4 {
  background-image: url("../assets/crew/image-anousheh-ansari.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section__text {
  text-align: center;
  font-family: $Bellefair;
  color: $White;
}

.section__text h4 {
  font-size: 1.5rem;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 1rem;
}

.section__text h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 200;
  opacity: 0.8;
  margin-top: 1rem;
}
