//Colors 
$Navy-Blue: #0b0d17;
$Sky-Blue: #d0d6f9;
$White: #ffffff;

//Topography

/*heading-1: Bellefair-Regular 150px
sub-heading-1: Bellefair-Regular 28px

heading-2:Bellefair-Regular 100px
sub-heading-2:Barlow-condensed-regular 16px 2.7-character space

nav-text: Barlow-condensed-regular 16px 2.7 character space

heading-3: Bellefair-Regular 56px 

heading-4: Bellefair-Regular 32px

heading-5: Barlow-condensed-regular 28px 4.75 character space
*/