@use "generalStyles" as *;
@use "variables" as *;

.tech-container {
  margin-top: 2rem;
  // outline: 1px solid white;
  width: 100%;
  //   position: absolute;
}

.tech__images-container {
  // outline: 1px solid red;
  // display: flex;
  // position: absolute;
  left: 0;
  width: 100%;
  margin-bottom: 17rem;
}

.tech-image-container {
  // outline: 1px solid blue;
  width: 100%;
}

.tech-image {
  display: block;
  // outline: 1px solid green;
  width: inherit;
  height: 170px;
  position: absolute;
  left: 0;
  
}


.tech-nums {
  margin-top: 20rem;
  // outline: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-nums button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid $downWhite;
  background-color: transparent;
  color: white;
  margin: 0 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;

  // &:hover {
  //   background-color: white;
  //   color: black;
  //   outline: 1px solid white;
  // }
}

.tech-active {
  background-color: white;
  color: black;
  border: 1px solid white;
}

.text-container {
  // outline: 1px solid yellow;
  margin-top: 2rem;
}

.text-container h3 {
  font-size: 1.5rem;
  color: $littlewhite;
  text-transform: uppercase;
  font-family: $Barlow;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: center;
}

.content-container {
  // outline: 1px solid pink;
  margin-top: 0.5rem;
  position: relative;
}

.content-container h2 {
  font-size: 3rem;
  color: $littlewhite;
  font-family: $Bellefair;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}

.tech-text-slide {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.tech-image,
.tech-text {
  transition: all 0.3s ease;
}


.img1 {
  background-image: url("../assets/technology/image-launch-vehicle-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img2 {
  background-image: url("../assets/technology/image-spaceport-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img3 {
  background-image: url("../assets/technology/image-space-capsule-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
