//Colors 
$Navy-Blue: #0b0d17;
$Sky-Blue: #d0d6f9;
$White: #ffffff;
$rwhite: 255, 255, 255;
$opacity: 0.8;
$offwhite: rgba(255, 255, 255, .5);
$downWhite: rgba(255, 255, 255, .2);
$littlewhite: rgba(255, 255, 255, .9);

//Font 
$Bellefair: 'Bellefair', serif;
$Barlow: 'Barlow Condensed', sans-serif;
